<div style="width: 100%; text-align: center;"> <h2> User Login Form </h2> </div> 
<br>  
    <form #myform="ngForm" (ngSubmit)="register(myform)">  
        <div class="container">   
            <label>Username : </label>   
            <input required type="text" placeholder="Enter Username" name="username" ngModel>  
            <label>Password : </label>   
            <input required type="password" placeholder="Enter Password" name="password" ngModel>  
            <button type="submit">Login</button>   
          
        </div>   
    </form>     